body {
    font-family: Verdana,Ayuthaya,'HanaMinBFont',sans-serif;
    font-size: 1rem;
    line-height: 1.625rem;
}

div.search-purpose {
    display: inline-block;
    margin-top: 16px;
}

h3, .fs-h3 {
    font-family: Verdana,Museo,Ayuthaya,'HanaMinBFont',sans-serif;
    font-size: 1.571rem;
    letter-spacing: 0.04rem;
    line-height: 1.95rem;
    margin: 0 0 0.203125rem 0;
    color: #96c331;
}