
.blog-triple-blocks {
    display: none;
}

.blog-block a, .blog-block, .blog-blocks {
    width: 100%;
    float: left;
    max-width: 527px;
}

.blog-block a {
    color: #333;
    text-decoration: none;
}

.blog-block a, .blog-block, .blog-blocks {
    width: 100%;
    float: left;
    max-width: 527px;
}

.content object, .content iframe, .content img, #content object, #content iframe, #content img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.blog-block-text {
    line-height: 1.3;
    padding: 14px 8px 0;
}

.blog-block-text .bold-text {
    font-size: 13px;
    color: purple;
    font-weight: normal;
    font-family: 'Ensign:Sans';
}

.dateline {
    float: left;
    font-size: 13px;
    margin-top: 1px;
    margin-bottom: 5px;
    width: 100%;
    font-style: normal;
    color: var(--black-900);
}

@media (min-width: 320px) {
.blog-double-blocks.recent-news, .blog-triple-blocks.recent-news {
    margin-bottom: 12px;
    margin-top: 0;
}
}

@media (min-width: 540px){
.blog-double-blocks.recent-news, .blog-triple-blocks.recent-news {
    margin-bottom: 12px;
    margin-top: 10px;
}
}

@media (min-width: 540px){
.blog-triple-blocks {
    margin-top: 16px;
    width: 100%;
    float: left;
}
}

@media (min-width: 960px){
.blog-triple-blocks {
    display: block;
}
}
